[Unit]
Description=Smartcare service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python3 /home/pi/smartcare-central/src/__main__.py

[Install]
WantedBy=multi-user.target